:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.container, footer {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
}

.container {
  -webkit-overflow-scrolling: touch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  padding: 16px;

  .message {
    margin: 8px 0;
    max-width: 75%;
    min-width: 100px;
    padding: 0.75em;

    .mat-card-subtitle {
      margin-bottom: 8px;
    }

    mat-card-header {
      margin-bottom: 8px;
    }

    .time {
      font-size: 10px;
      opacity: 0.5;
    }

    .time-small {
      float: right;
      margin-top: 8px;
      display: none;
    }

    &.from-me {
      align-self: flex-end;
      background: #3f51b5;
      color: white;

      .mat-card-subtitle {
        color: white;
      }

      + .from-me {
        mat-card-header {
          display: none;
        }

        .time-small {
          display: block;
        }
      }
    }
  }
}

footer {
  mat-card {
    margin: 16px 0;
    padding: 0 1.25em;

    mat-form-field {
      width: 100%;
    }
  }
}
